<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.yinzsw.blog.mapper.RoleMapper">

    <select id="getRoleIdsByUserId" resultType="java.lang.Long">
        SELECT `id`
        FROM `role`
        WHERE `is_disabled` = FALSE AND `id` IN (SELECT `role_id` FROM `user_mtm_role` WHERE `user_id` = #{userId})
    </select>

</mapper>